.js-text {
  color: green;

}
#card1, #card2, #card3, #card4, #card5, #card6 {
  border : 1px solid green;
  margin: 40px 40px 40px 40px;
  height : 300px;

}
.jumbotorn {
  text-align: center;
  padding : 10px 10px 10px 10px;
  background-color: green;
  color : white;
}
#back-card1, #back-card2, #back-card3, #back-card4 , #back-card5, #back-card6{
  display: none;
}
h2 {
  text-align: center;
  text-decoration: underline;
  margin-top: 100px;
}
#card1 {
  background-color: #F4C0FF;
}
#card2 {
  background-color: #C0F5FF;
}
#card3 {
  background-color: #C8F4A1;
}
#card4 {
  background-color: #F4BDA1;
}
#card5 {
  background-color: #F7F1A1;
}
#card6 {
  background-color: #F7A1A6;
}
body {
  background-color: #f1f2f3;
  font-family: sans-serif;
}
